<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xliff version="1.0" xmlns:d4="http://www.4d.com/d4-ns">
  
  <!--
    Created with 4DPop Constants Editor
  -->
  
  <file datatype="x-4DK#" original="x-undefined" source-language="x-none" target-language="x-none">
    
    <header>
      <prop-group name="4DPop Constant editor">
        <prop prop-type="version"/>
      </prop-group>
    </header>
    
    <body>
      <!--groups' labels-->
      <group resname="themes"/>
      <!--constants-->
    </body>
    
  </file>
  
</xliff>
