<?xml version="1.0" encoding="UTF-8" standalone="no" ?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0">  <dict>    <key>CSResourcesFileMapped</key>    <string/>    <key>CFBundleVersion</key>    <string>271378</string>    <key>NSHumanReadableCopyright</key>    <string>©4D SA 2021</string>    <key>CFBundleGetInfoString</key>    <string>4DPop sqlSchemas</string>    <key>CFBundleLongVersionString</key>    <string>19R5</string>    <key>CFBundleShortVersionString</key>    <string>19R5</string>    <key>CFBundleName</key>    <string>4DPop sqlSchemas</string>    <key>CFBundleDisplayName</key>    <string>4DPop sqlSchemas</string>  </dict></plist>