<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

  <dict>
    <key>NSHumanReadableCopyright</key>
    <string>©vdl 2020-2023</string>
    <key>CFBundleIdentifier</key>
    <string>com.4D.4DPop XLIFF Pro</string>
    <key>CFBundleGetInfoString</key>
    <string>20R4</string>
    <key>CFBundleLongVersionString</key>
    <string>20R4 (96)</string>
    <key>CFBundleName</key>
    <string>4DPop XLIFF Pro</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>French</string>
    <key>CFBundleDisplayName</key>
    <string>4DPop XLIFF Pro</string>
    <key>CFBundleVersion</key>
    <string>97</string>
    <key>CFBundleShortVersionString</key>
    <string>20R4</string>
    <key>CFBundleExecutable</key>
    <string>4DPop XLIFF Pro</string>
  </dict>

</plist>
