/* Localized versions of Info.plist keys */

CFBundleName = "{name}";
CFBundleShortVersionString = "{version} ({build})";
CFBundleGetInfoString = "{version} ({build})";
NSHumanReadableCopyright = "{copyright}";